.medium-rectangle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
    margin: 0px auto;
    background-color: rgba(0,0,0,0.95);
    z-index: 999999 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in; */
}

.medium-rectangle.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: none !important;
    display: flex !important;
}

.medium-rectangle.invisible {
    opacity: 0;
    visibility: hidden;
    z-index: -500 !important;
    display: none !important;
}

.milk-bottle {
    /* position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); */
    width: 150px;
    height: 150px;
}

.bottle {
    fill: white;
}

.milk {
    fill: white;
}

.medium-rectangle p {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 2em !important;
    margin: 0;
}

.medium-rectangle img {
    max-width: 200px;
    margin-top: 0px !important;
    z-index: 1000;
}