$primary: #3C1660;
$primaryBright: #7b37bf;
$secondary: #B70EA6;
$secondaryBright: #ed40d8;

$violet-color: #1d062f;
$pink-color: #ffafe7;
$light-blue-color: #70e5e9;
$yellow-color: #ffbc59;
$white-color: #ffffff;
$yellow-light-color: #FAFA33;
$green-color: #98fb98;